  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  .testimony-card {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-width: 815px;
    margin: 0 auto;
    padding: 32px 48px;
    color: #fff;
}

[type=radio] {
    // display: none;
}

#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;

    .testimony-card {
        .testimony, .writer-photo {
            opacity: 0;
        }
    }
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, -200px);
    background-color: rgba(53, 28, 77, 0.93);
    opacity: .3;
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
    background-color: rgba(53, 28, 77, 0.93);
    opacity: 0.75;
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, 0, 0);
    background-color: rgba(53, 28, 77, 0.93);

    .testimony-card {
        padding: 46px 46px 34px;

        .testimony, .writer-photo {
            opacity: 1;
        }
    }
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
    background-color: rgba(53, 28, 77, 0.93);
    opacity: 0.75;
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(30%, 0, -200px);
    background-color: rgba(53, 28, 77, 0.93);
    opacity: .3;
}

#s1 {
    position: absolute;
    bottom: 43%;
    right: 32%;
    z-index: 100;
}

#s2 {
    position: absolute;
    bottom: 43%;
    right: 30%;
    z-index: 100;
}

#s3 {
    position: absolute;
    bottom: 43%;
    right: 28%;
    z-index: 100;
}

#s4 {
    position: absolute;
    bottom: 43%;
    right: 26%;
    z-index: 100;
}

#s5 {
    position: absolute;
    bottom: 43%;
    right: 24%;
    z-index: 100;
}

.slide1 {
  padding: 0px 0px 0px 0px;
  margin: 0%;
}

  /* SIDEBAR SOCIAL MEDIA
  -------------------------------------------------- */
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* MODULES FLEXBOX
  -------------------------------------------------- */

  * {
    box-sizing: border-box;
  }

  .outer {
    display: inline-block;
    padding: 1em;
    overflow-x: scroll;
    max-width: 1340px;
    width: 100%;
    padding-top: 30px;
  }
  
  .flex {
    display: flex;
  }
  
  .box {
    padding: 0px 0px 0px 0px;
    margin: 10px;
    border: 1px solid rgb(99, 97, 97);
  }

  /* header */

  #top-cert{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: smaller;
    text-shadow: 1px 1px #000000;
  }
  .blog-header {
    background-image: linear-gradient(to top left,#0084e7,#00407f);
    box-shadow: inset 0 -8px 121px -50px #00407f;
  }
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }
  .row.flex-nowrap.justify-content-between.align-items-center {
      margin: 0;
  }
  .blog-header-logo:hover {
    text-decoration: none;
  }

  /* end header */

  /* nav */
  #nav{
    width: 50%;
    margin: auto;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    box-shadow: inset 0px 3px 7px 0 #888888;
    margin-bottom: 0px !important;
  }

  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  /* end nav */

  /* LOGIN & SLIDER SECTION
  -------------------------------------------------- */
  
  .form-sec-outer {
    padding-left: 0px; 
    padding-right: 0px; 
  }

  .form-sec-inner {
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 0px;
    height: 512px;
  }

  .form-header {
    padding-top: 15px;
  }

  input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login_button {
    text-align: center;
  }

  .slider-sec-outer {
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 30px;
    margin: 0%;
  }

  .slider-sec-inner {
    margin: 0%;
  }

  /* CONTAINER MAIN
  -------------------------------------------------- */
  
  .con-sec {
    padding-top: 50px;
  }
  
  
  
  