  /* SIDEBAR SOCIAL MEDIA
  -------------------------------------------------- */
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* MODULES FLEXBOX
  -------------------------------------------------- */

  * {
    box-sizing: border-box;
  }

  .outer {
    display: inline-block;
    padding: 1em;
    overflow-x: scroll;
    max-width: 1340px;
    width: 100%;
    padding-top: 30px;
  }
  
  .flex {
    display: flex;
  }
  
  .box {
    padding: 0px 0px 0px 0px;
    margin: 10px;
    border: 1px solid rgb(99, 97, 97);
  }

  /* header */

  #top-cert{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: smaller;
    text-shadow: 1px 1px #000000;
  }
  .blog-header {
    background-image: linear-gradient(to top left,#bc1913,#290302);
    box-shadow: inset 0 -8px 121px -50px #00407f;
  }
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }
  .row.flex-nowrap.justify-content-between.align-items-center {
    margin: 0;
  }
  .blog-header-logo:hover {
    text-decoration: none;
  }

  /* end header */

  /* nav */
  #nav{
    width: 50%;
    margin: auto;
  }

  #nav a{
    color: #310202;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    box-shadow: inset 0px 3px 7px 0 #888888;
    margin-bottom: 0px !important;
  }

  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  /* end nav */

  #contain-div{
    /*background: url(http://portal.oo/uploads/logo/UKM_01.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0px 0px 5px 8px #ffffff
  }

  .row-para{
    background:rgba(255,255,255,0.7);
  }

  .row-card{
    background: url(footer_bg.png);
    border-top: 1px solid #3e3e3e;
  }

  .carousel-3d-slide{
    border-radius: 10px !important;
    box-shadow: -4px 6px 6px 4px #888888;
  }

  .blog-main{
    border-radius: .25rem;
    border: 1px solid #cccccc;
    background:rgba(255,255,255,0.9);
  }

  .blog-sidebar{
    border-radius: .25rem;
    border: 1px solid #cccccc;
    background:rgba(255,255,255,0.9);
  }

  .avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .dropdown-menu.show {
      padding: 0;
      font-size: 0.8rem;
  }
  .login-card{
    width: 30rem; position: absolute; z-index: 10; right: 10px; top: 70px;
    
  }
  .card-body{
    padding: .35rem;
  }
  .form-signin {
    width: 100%;
    max-width: 550px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
    font-size: 1em;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }

  /* FOOTER FA ICONS
  -------------------------------------------------- */

  .fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-rss {
    background: #ff6600;
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
