  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }

  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /* SIDEBAR SOCIAL MEDIA
  -------------------------------------------------- */
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* CARD CAROUSEL
  -------------------------------------------------- */


  /* header */

  #top-cert{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: smaller;
    text-shadow: 1px 1px #000000;
  }
  .blog-header {
    background-image: linear-gradient(to top left,#bc1913,#290302);
    box-shadow: inset 0 -8px 121px -50px #00407f;
  }
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }
  .row.flex-nowrap.justify-content-between.align-items-center {
    margin: 0;
  }
  .blog-header-logo:hover {
    text-decoration: none;
  }

  /* end header */

  /* nav */
  #nav{
    width: 50%;
    margin: auto;
  }

  #nav a{
    color: #310202;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    box-shadow: inset 0px 3px 7px 0 #888888;
    margin-bottom: 0px !important;
  }

  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  /* end nav */

  #contain-div{
    /*background: url(http://portal.oo/uploads/logo/UKM_01.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0px 0px 5px 8px #ffffff
  }

  .row-para{
    background:rgba(255,255,255,0.7);
  }

  .row-card{
    background: url(footer_bg.png);
    border-top: 1px solid #3e3e3e;
  }

  .carousel-3d-slide{
    border-radius: 10px !important;
    box-shadow: -4px 6px 6px 4px #888888;
  }

  .blog-main{
    border-radius: .25rem;
    border: 1px solid #cccccc;
    background:rgba(255,255,255,0.9);
  }

  .blog-sidebar{
    border-radius: .25rem;
    border: 1px solid #cccccc;
    background:rgba(255,255,255,0.9);
  }

  .card-body{
    padding: .75rem;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }